html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#button {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  width: 5em;
  height: 5em;
  margin-top: 5px;
  margin-right: 15px;
  z-index: 1 !important;
  font-weight: bold;
}

.sidebar {
  border-bottom: 1px solid #E8EAED;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  margin: 2em 0 2em 2em;
  display: inline-block;
  position: absolute;
  left: 0;
  z-index: 1 !important;
  background-color: white;
  width: 300px;
}

.sidebar img {
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.bottombar {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  border-bottom: 1px solid #E8EAED;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  margin: 2em 2em 2em 0em;
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1 !important;
  background-color: white;
  width: 250px;
}

.mapContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}